body {
  font-family: 'Quicksand', sans-serif;
}

#main_section {
  background-color: #FFE99A;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
}

#kitty_doggo_pic{
  display:none;
}

.span-height{
  height: 100vh;
}

#row1-curr {
  padding-top: 3%;
}

#row2-curr {
  padding-left: 5%;
  margin-top:5%;
}

#row3-curr {
  margin-top:10%;
}

#row4-curr {
  margin-top:4%;
}

.row-text{
  font-size: 15px;
  margin-bottom: 1%
}

#row5-curr {
  margin-top: 5%;
}


#temp {
  font-size: 80px;
}

#weather {
  margin-top: -2%;
}

#space{
  margin-top: 1%;
  margin-bottom: 1%;
}
