body {
  font-family: 'Quicksand', sans-serif;
}

#main_section {
  background-color: #FFE99A;
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center center;
}

#kitty_doggo_pic, #main-temp-pic{
  display:none;
}

.span-height{
  height: 100vh;
}

.main-temp-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-temp-pic{
  margin-left:30%;
  margin-top:-10%;
}

#row1-curr {
  padding-top: 3%;
}

#row2-curr {
  padding-left: 5%;
  margin-top:5%;
}

#row3-curr {
  margin-top:12%;
}

#row4-curr {
  margin-top:10%;
}

.row-text{
  font-size: 15px;
  margin-bottom: 1%
}

#row5-curr {
  margin-top: 5%;
}

#city {
  color: white;
  font-weight: bolder;
}

#day {
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 4%;
}

#temp {
  font-size: 80px;
  color: white;
  font-weight: bolder;
}

#weather, #country, #date, #timestamp {
  margin-top: -2%;
  color: white;
  font-size: 25px;
  font-weight: normal;
}

#space{
  margin-top: 1%;
  margin-bottom: 1%;
}
